
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

/* HEADER */
.header-bar {
    border-bottom: 0.1rem solid #ddd;
    background-color: #fff;
}

.header-content {
    position: relative;
    padding: 0.5rem 2rem;
}

/* LOGO */
.header-content img {
    vertical-align: middle;
    margin-left: 3rem;
}

/* MENU LEVEL 1 */
.main-nav {
    display: inline-block;
    margin-left: 3rem;
}

.menu-level-1 > .menu-item {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

.menu-level-1 > .menu-item > a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    display: inline-block;
    position: relative; /* để triangle căn vào */
    cursor: pointer;
}

/* TAM GIÁC CẤP 1 ▼ */
.triangle {
    position: absolute;
    top: 50%;
    right: -0.5rem;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-top: 0.35rem solid #333;
}

/* TAM GIÁC CẤP 2 ► */
.triangle-right {
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    border-left: 0.35rem solid #333;
}

/* MENU LEVEL 2 */
.menu-level-2 {
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 12rem;
    border: 0.0625rem solid #ddd;
    background-color: #fff;
    z-index: 10;
}


.menu-level-2 li {
    display: block;
}

.menu-level-2 li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.menu-level-2 li:hover {
    background-color: #f5f5f5;
}

.menu-level-2 li:hover > a {
    color: #d62828;
}

/* MENU LEVEL 3 */
.menu-level-3 {
    display: none;
    position: absolute;
    top: 0;
    left: 12rem;
    width: 12rem;
    border: 0.0625rem solid #ddd;
    background-color: #fff;
    z-index: 20;
}

.menu-level-3 li a {
    color: #000;
}

.menu-level-3 li:hover > a {
    color: #d62828;
    background-color: #f5f5f5;
}

/* HOVER HIỂN THỊ DROPDOWN */
.menu-item.menu-has-dropdown:hover > .menu-level-2 {
    display: block;
}

.menu-item.menu-has-dropdown-2:hover > .menu-level-3 {
    display: block;
}

/* HOVER ĐỔI MÀU CHO CHỮ MENU */
.menu-level-1 > .menu-item:hover > a {
    color: #d62828;
}

