* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

.container{
    background-image: url("./img/Background.png");
    background-size: cover;
    text-align: center;
    padding: 5rem;
    margin-bottom:2.5rem;
}
.box_1{
    background-color: rgba(241, 236, 236, 0.35);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.title{
    font-size: 4rem;
    color:#1e293b ;
    font-weight: 700;
}
.highlight{
    font-family: sans-serif;
    font-size: 4rem;
    color:#9333ea;
    font-weight: 700;
    margin-bottom: 2rem;

}
.van{
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.button {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4rem;
    background-color: #a855f7;
    font-size: 1.125rem;
    font-weight: 600;
}

.button:hover{
    background-color: #9333ea;

}
.logo_F8 {

    width: 3.5rem;
    height: 3.5rem;
    border: 0.3rem solid rgba(192, 132, 252, 0.6);
    border-radius: 3.5rem;
    overflow: hidden;
    margin: 3rem  auto;
}
.logo_F8 img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit:cover;
    object-position: center;
}
.box_2_text{
    font-size: 1.375rem;
    font-weight:400 ;
    margin: 1rem auto;

}
.box_2_b{
    color: #9333ea;
}
input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    border: 1rem solid rgb(126, 119, 119);
}
.checkbox_text{
    font-size: 1.125rem;

}
.box_3{
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.box_3_text1{
    font-size: 1.375rem;
    font-weight:400 ;
}
.box_3_text2{
    font-size: 1.125rem;
    font-weight:400 ;
    margin: 1.5rem auto;
}

.box_2 input[type="checkbox"]:checked ~ .box_3 {
    background-color: #c49aec;
    color: #55009a;
}

.box_4{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.125rem;
}
span img {
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem ;
}
footer {
    margin-top: 2.5rem;
    padding-top: 1rem;
    border-top: 0.1rem solid rgb(183, 107, 213);
    text-align: center;
    font-size: 1rem;
}
